@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lobster');
body{
    background-image: url("img/fondo.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, SansSerif;

}
header{
    width: 100%;
    text-align: center;
    background: linear-gradient(to right,white, #b3bdff);
    position: fixed;
}
nav{
    color: #0d0497;
    padding:20px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: #0d0497;
    padding: 20px;
    font-weight: bold;
}
#vacio{
    padding:50px;
}
#contenido{
    border-radius: 50px;
    padding-top: 10px;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.31), rgba(79, 0, 255, 0.31));
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    font-size: 4em;
    margin-bottom: 0;
}
h1 strong{
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
h1 strong {
    margin-top: 0;
    padding-top: 0;
}
img{
    margin-bottom: 0;
    padding-bottom: 0;
}
pre span{
    font-size: 2em;
}
table, tr, td{
    margin-left: 10%;
    border: solid white 3px;
}
td{
    padding: 10px;
}


