body{
    background-color: #747474;
    text-align: center;
}

#formulario{
    height: 600px;
    width: 700px;
    margin:0 auto;
    background-color: white;
    margin-top: -20px;
}
#cabecera{
    margin-bottom: 0px;
}

button{
    background-color: #ff5454;
    color: white;
}
input[type="text"]{
    background-color: #cccccc;
    text-align: left;
}
#usuario{
    background-image: url("img/user2.png");
    background-repeat: no-repeat;
    background-position: left;
}
#contraseña{
    background-image: url("img/candado.png");
    background-repeat: no-repeat;
    background-position: left;
}
#persona{
    margin-top: -30px;
}
